<table class="table table-borderless">
    <tbody>
      <thead>
        <tr>
            <th class="th-font" scope="col"></th>
            <th class="th-font w-75" scope="col"></th>
        </tr>
      </thead>
      <tr>
        <th scope="row" class="semibold">UPCOMING</th>
        <td>
          <h6>Lockheed Martin</h6>
          <p>Software Engineering Intern</p>
        </td>
      </tr>
      <tr>
        <th scope="row" class="semibold">OCT '22 - MAY '23</th>
        <td>
          <h6>Girls Who Code</h6>
          <p>Junior Web Developer</p>
        </td>
      </tr>
      <tr>
        <th scope="row" class="semibold">JUN '19 - AUG '22</th>
        <td>
          <h6>Office Divvy</h6>
          <p>Digital Team</p>
        </td>
      </tr>
    </tbody>
</table>