<div class="card-container row row-cols-1 row-cols-md-2 g-4">
    <div class="card border-0 select" onclick="location.href='projects/ootd.html';">
      <img src="assets/ootd/ootd-mockup.png" class="card-img-top">
      <div class="card-body">
        <p class="card-title text-uppercase">Web application</p>
        <h5 class="card-text">OOTD</h5>
      </div>
    </div>
    <div class="card border-0 select" onclick="location.href='projects/gator-eats.html';">
      <img src="assets/gator-eats/gator-eats-mockup.png" class="card-img-top">
      <div class="card-body">
        <p class="card-title text-uppercase">Web application</p>
        <h5 class="card-text">GatorEats</h5>
      </div>
    </div>
    <div class="card border-0 select" onclick="location.href='projects/cis4930-portfolio.html';">
      <img src="https://placehold.co/600x400" class="card-img-top">
      <div class="card-body">
        <p class="card-title text-uppercase">Web portfolio</p>
        <h5 class="card-text">CIS4930 Portfolio</h5>
      </div>
    </div>
    <div class="card border-0 select" onclick="location.href='projects/gator-books.html';">
      <img src="https://placehold.co/600x400" class="card-img-top">
      <div class="card-body">
        <p class="card-title text-uppercase">Data structures and algorithms</p>
        <h5 class="card-text">GatorBooks</h5>
      </div>
    </div>
</div>